*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: whitesmoke;
}
section{
  padding-top: 80px;
}
nav{
  background-color:black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
nav a{
  color: whitesmoke;
  text-decoration: none;
}
nav a:hover{
  color: cyan;
}
h1,h2{
  color:whitesmoke
}
html{
  scroll-behavior: smooth;
}

.hero{
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px;

}
.hero img{
  width: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px cyan;
  transition: 0.3s;
}
.hero img:hover{
  transform: scale(1.05);
}
.hero-text h2{
  color:cyan;
  max-width: 500px;
}
button{
  padding: 12px 20px;
  margin-top: 20px;
  margin-right: 10px;
  transition: 0.3s;
  background-color: #222;
  color: whitesmoke;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
button:hover
{
  background-color: cyan;
  transform:scale(1.05);
  color:black;
}
.about{
  padding: 80px;
}
.about p{
  margin-top: 15px;
  line-height: 30px;
  padding: 0;
}
.skills{
  padding: 80px;
  text-align: center;
}
.skill-box{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.skill-box span{
  background-color:#222;
  padding: 10px 20px;
  border-radius: 10px;
}
.projects{
  padding: 80px;
  text-align: center;
}
.project-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.project-card{
  background-color: #222;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  transition: 0.3s;
}
.project-card:hover{
  transform: translateY(-10px);
  background:#333;
}
.project-card img{
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}
.contact{
  padding: 80px;
  text-align: center;
}
.contact p{
  margin-top: 15px;
  padding:0;
}
form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin:  auto;
  margin-top: 30px;
  text-align: left;
  width: 90%;
}
input, textarea{
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #222;
  color: whitesmoke;
}
input:focus, textarea:focus{
  outline: none;
  box-shadow: 0px 0px 10px cyan;
}
input::placeholder, textarea::placeholder{
  color: #666;
}
textarea{
  resize: none;
  height: 100px;
}
.social-icons{
  display: flex;
  gap: 20px;
  margin-top: 20px;
  font-size: 30px;
}
.social-icons a{
  color: whitesmoke;
  transition: 0.3s;
}
.social-icons a:hover{
  color: cyan;
  transform: scale(1.2);
}
footer{
  background-color: black;
  text-align: center;
  padding: 20px;
}
@media (max-width: 768px){
  .hero{
    flex-direction: column;
    text-align: center;
  }
  .hero img{
    margin-top: 30px;
  }
  nav{
    flex-direction: column;
    gap: 20px;
  }
  nav ul{
    flex-direction: column;
    text-align: center;
  }
  .project-container{
    flex-direction: column;
    align-items: center;
  }
  .social-icons{
    justify-content: center;
  }
}